#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  outline: none;
  text-decoration: none;
  color: inherit;
}

ol, ul{
  list-style: none;
}