@import url("./fonts.css");

#app {
  font-family: Jakarta, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a{
  outline: none;
  text-decoration: none;
  color: inherit;
}

ol, ul{
  list-style: none;
}